body
{
 background-color: #8ee4af;
}

.welcome
{
	text-align: center;
}

.text
{
	margin-left: 25%;
}

.submit
{
	margin-left: 46%;
	font-weight: bolder;
	font-size: 120%;
}

.result
{
	background-color: black;
	color: white;
}